.bg-Settings {
    background: #FFFFFF;
    border-right: 1px solid #E7E9EF;
    height: 100vh;
}

.list-group-item {
    border: none;
}

.bg-setting-color {
    background: #F5F5F5;
    height: 100vh;
}

.padding-top-left {
    padding: 40px 32px 20px;
}

.myprofilepadding-top-left {
    padding: 10px 72px;
}

.font {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #242C37;
}

.font-def {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #535E70;
}

.setting-font {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #0F79DC;
}

.sp {
    padding: 40px 85px 0px 11px;
}

h4.line {
    display: flex;
    flex-direction: row;
    color: #B4C1D6;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

h4:before,
h4:after {
    content: "";
    flex: 1 1;
    border: 1px solid #B4C1D6;
    ;
    margin: auto;
}

h4:before {
    margin-right: 10px;
}

h4:after {
    margin-left: 10px;
}

.googlepadding {
    padding: 16px 5px;
}

.border {
    background: #FFFFFF;
    border: 1px solid #E7E9EF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #535E70;
}

.size {
    width: 130px;
}

.paddingsave {
    padding: 16px 169px;
    background: #0F79DC;
    border-radius: 128px;
}

.confoam {
    background: #FFFFFF;
    border: 1px solid #E7E9EF;
    border-radius: 4px;
    padding: 14px;
}

.list-group-item.active {
    z-index: 2;
    color: #535E70;
    background-color: white;
    border-color: none;
}

.margin-end {
    margin-right: 20px;
    position: relative;
    right: 20px;
}